a {
    text-decoration: none;
}

li {
    display: block;
}

body {
    margin: 0;
    font-family: "Avenir", sans-serif;
}

button {
    border: 0;
}

.header, .hero, .block, .information, .features {
    margin-left: 240px;
}

@media screen and (max-width:320px) {
    .header, .hero, .block, .information, .features  {
        margin-left: 0;
    }
}