.headers {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.information__backgrounds {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
.information__header-bg-1{
    background:(".../web_labs/images/"); 
}